body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f2f0; 
  padding: 0px;
  margin: 0px;
}

main {
  background-color: blue;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 30%;
  width: 70vw;
}

section{
  width: 230px;
  height: 260px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding-top: 30px; 
  padding-bottom: 0;
  background-color: blueviolet;
}